*{
    box-sizing: border-box;
}

body{
    font-size: 14px;
    color: black;
    background-color: white;
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    flex-flow: column;
    border: 1px solid red;
}

header > p{
    display: flex;
    border: 1px solid blue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    margin-top: 0;
    background-color: black;
    color: white;
    font-weight: bold;
}

header > p > span:nth-child(1){
    display: none;
}

header > p > span:nth-child(2){
    display: flex;
}

header > div:nth-child(2){
    display: flex;
    align-items: center;
    padding: .5rem 0;
    padding-top: .8rem;
}

header >  div:nth-child(2) > svg:nth-child(1){
    width: 4.5rem;
    order: 3;
    height: auto;
    
}

header > div:nth-child(2) > nav#main-menu{
   display: flex;
   flex-flow: column;
   order: 1;
}

header > div:nth-child(2) > nav#main-menu > label{
    font-size: 1.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

header > div:nth-child(2) > nav#main-menu > input,
header > div:nth-child(2) > nav#main-menu > ul{
    display: none;
}

header > div:nth-child(2) > div#buscador{
    display: flex;
    align-items: center;
    order: 5;
}

header > div:nth-child(2) > div#buscador > svg{
    width: 2rem;
    height: auto;
}

header > div:nth-child(2) > div#buscador > input{
    display: none;
}

header > div:nth-child(2) > div#usuario{
    order: 4;
    margin-left: auto;
    width: 2rem;
    height: auto;
}

header > div:nth-child(2) > div#corazon{
    order: 2;
    width: 2rem;
    height: auto;
}

header > div:nth-child(2) > div#carro{
    order: 6;
    margin-left: .3rem;
    margin-right: .5rem;
    width: 2rem;
    height: auto;

}
