#contReproductor{
    background-color: rgb(255, 115, 0);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 40%;
    padding: .7rem;
    justify-content: space-between;
    border-radius: 8px;
}

button{
    border: none;
    background-color: transparent;
}

button i{
    font-size: 1.5rem;
}