*{
    box-sizing: border-box;
}

body{
    background-color: #686868;
    font-family: Arial,sans-serif;
}

a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.25rem;
}

ul{
    padding: 0;
    list-style-type: none;
    display: flex;
}

ul.menu{
    background-color: #ACACAC;
    border: solid 1px #FFF;
}

ul.menu>li{
    background-color: #C9830A;
    margin: .62rem;
    border: solid 1px #FFF;
    padding: .62rem;
}