.grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  gap: 10px;
  padding: 20px;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 60px;
  border-radius: 10px;
}