.tooltip {
    position: relative;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.tooltip::after {
    content: "tooltip";
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    left: 5rem;
}


.tooltip:hover::after {
    visibility: visible;

}