*{
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed",sans-serif;
}

body{
    margin:0;
}

ul{padding: 0;}

/* HEADER */

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header p#publi{
    flex: 0 0 100%;
    background-color: black;
    color: white;
    padding: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    order:-2;
}

header nav#menu-principal{
    order:-1;
    margin-left: 1rem;
}

header nav#bloque-iconos{
    order:1;
    margin-right: 1rem;
}

header nav#menu-principal label span{
    color:#EB66A2;
    font-size: 2rem;
}

header nav#bloque-iconos a{
    color:#EB66A2;
    font-size: 2rem;
    margin-left: 1rem;
}

header nav#bloque-iconos a span{
    display: none; 
}

/* Hacer input que muestre menu */

header nav#menu-principal input,
header nav#menu-principal ul{
    display: none;
}

header nav#menu-principal input:checked + ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    padding: .8rem;
    background-color: #EB66A2;
}

header nav#menu-principal ul li a{
    color: black;
    text-decoration: none;
}

/* MAIN */
main section#sec-hombre{
    display: flex;
    flex-flow: row wrap;
    margin-left: 1rem;
}

main section#sec-hombre h2{
    color: #EB66A2;
    flex: 0 0 100%;
}

main section#sec-hombre article.item-sec{
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    padding: .5rem;
}

main section#sec-hombre article.item-sec picture img{
    width: 100%;
    height: auto;
}

main section#sec-hombre article.item-sec picture{
    order: -1;
}

main section#sec-hombre article.item-sec input{
    background-color: #EB66A2;
    border: none;
    color: white;
    font-weight: bold;
    padding: 1.4rem 2rem;
    font-size: 1.3rem;
}

main section#sec-hombre article.item-sec span{
    margin-top: auto;
    text-align: center;
    font-size: 1.5rem;
    color: grey;
    font-weight: bold;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px black;
}

footer nav#menu-adicional-escritorio,
footer nav#menu-social span{
    display: none;
}

footer nav#menu-social ul,
footer nav#menu-adicional-movil ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer nav#menu-social{
    order: -1;
}
 
footer nav#menu-social ul li a{
    color: #EB66A2;
    font-size: 2rem;
    padding-left: 1rem;
}

footer nav#menu-adicional-movil ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 1rem;
}

footer > small{
    background-color: black;
    color: white;
    align-self: normal;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

/* Version tablet */

@media(min-width:750px){
    main section#sec-hombre article.item-sec{
        flex: 0 0 33%;
    }

}

/* Version Escritorio */
@media(min-width:1024px){
    
}