:root{
    --primary: #0795e6;
    --secondary: #6c757d;
    --gray-dark: #424950;
    --gray-light: #443a40;
    --light: #f8f9fa;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Noto Sans", serif;
    font-size: 14px;
}
/***** VERSIÓN DE MÓVIL *****/
header#header-web{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

/* que no se vean */
header#header-web nav#menu-principal input,
header#header-web nav#menu-principal ul,
header#header-web nav#bloque-iconos a#user-login,
header#header-web nav#bloque-iconos a span{
    display: none;
}

header#header-web > img{
    width: 15rem;
}

/* Formato de icono menu */
header#header-web nav#menu-principal label span{
    font-size: 2rem;
    color: var(--primary);
    margin-left: 1rem;
}

/* bloque de iconos */
header#header-web nav#bloque-iconos{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-right: 1rem
}

header#header-web nav#bloque-iconos a#shopping-bag{
    width: 2rem;
}

header#header-web nav#bloque-iconos a#whishes img{
    width: 1.7rem;
    margin-right: .6rem;
}

/* Buscador */
header#header-web div.search-container{
    display: flex;
    flex: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(7, 149, 230, 0.1);
    margin: 1rem 2rem;
}

header#header-web div.search-container input{
    border: none;
    background-color: transparent;
    font-weight: bold;
}

/* Menu plegable */
header#header-web nav#menu-principal input:checked + ul{
    display: flex;
    flex-flow:row wrap;
    position: absolute;
    top:6.5rem;
    background-color: var(--light);
    list-style: none;
    margin: 0;
}

header#header-web nav#menu-principal ul li{
    flex: 100%;
    border-top: solid 1px black;
    padding: 1rem;
}

header#header-web nav#menu-principal ul li a#user-login{
        border: none;
        align-self:flex-end ;
}

header#header-web nav#menu-principal ul li a{
    text-decoration: none;
    color: black;
}

/* MAIN */

section#sec-vaiana{
    display: flex;
    flex-flow: row wrap;
    margin-left: 1rem;
    align-items: center;
}

section#sec-vaiana header#header-vaiana{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 100%;
}

section#sec-vaiana header#header-vaiana picture img{
    width: 100%;
}

section#sec-vaiana article.articulos{
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    flex: 0 0 46%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

section#sec-vaiana article.articulos img{
    width: 2rem;
    align-self: flex-end;
}

section#sec-vaiana article.articulos a img{
    width: 15rem;
}

section#sec-vaiana article.articulos a{
    text-decoration:  none;
    color: black;
}

/* Foter */

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--light);
}

footer nav#menu-secondary ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    margin-left: -2.4rem;
}

footer nav#menu-secondary ul li {
    flex: 0 0 100%;
    border-bottom: solid 1px black;
    padding:1rem;
}

footer nav#menu-secondary ul li a{
    text-decoration: none;
    color: black;
}

footer div#languaje{
    display: flex;
    align-items: center;
}

footer div#languaje img{
    margin: 1rem;
    width: 5rem;
    border: solid 1px black;
    border-radius: 100%;
}

footer nav#menu-secondary2 ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin-left: -2rem;
}

footer nav#menu-secondary2 ul li{
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-right: solid 1px black;
    padding-right: 1rem;
}

footer nav#menu-secondary2 ul li a{
    text-decoration: none;
    color: black;
}

footer small{
    flex: 0 0 100%;
    font-size: .7rem;
    margin: 2rem;
}

footer nav#menu-social ul {
    display: flex;
    list-style: none;
    margin-left: -1.5rem;
}

footer ul li{
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

footer ul li a span{
    display: none;
}

footer div#payment{
    display: flex;
    justify-content: space-between;
}

footer div#payment img{
    width: 4rem;
    height: auto;
    margin: .5rem .8rem;
}


/***** VERSIÓN DE TABLET *****/
@media (min-width:700px){
    section#sec-vaiana article.articulos{
        flex: 30%;
    }
}


/***** VERSIÓN DE ESCRITORIO *****/
@media (min-width:1165px){
    section#sec-vaiana > header#header-vaiana {
        position: relative;
    }
    section#sec-vaiana > header#header-vaiana > h2,
    section#sec-vaiana > header#header-vaiana > p{
        position: absolute;
    }

    footer small{
        align-self: center;
    }

    section#sec-vaiana article.articulos{
        flex: 20%;
    }
}